/* ------------------------------------------------Reset------------------------------------------------ */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------------------------------------General------------------------------------------------ */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 500;

  color: #292d32;
  background-color: #eeeeee;
}

.container {
  /* outline: 1px solid tomato; */
  width: 375px;
  margin-right: auto;
  margin-left: auto;
}

/* @media screen and (min-width: 375px) and (max-width: 1575px) {
  .container {
    width: 375px;
    padding-right: 4px;
    padding-left: 4px;
  }
} */

.main-container {
  margin-right: auto;
  margin-left: auto;

  width: 1440px;
  height: 1198px;
}

/* ------------------------------------------------Sidebar------------------------------------------------ */
.sidebar {
  padding-top: 37px;
  padding-left: 28px;
  padding-right: 28px;
  padding-bottom: 76px;

  width: 306px;
  height: 100%;
  background: #fff;
  box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
}

.sidebar__title-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 55px;
}

.sidebar__title {
  color: #000;
  font-size: 26px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.26px;
}

.sidebar__title-revision {
  margin-left: 4px;

  color: #838383;
  font-size: 10px;
  line-height: normal;
  letter-spacing: -0.1px;
}

/* -----------------------------navigation-list----------------------------- */
.navigation-list {
  display: flex;
  flex-direction: column;
  gap: 17px;
}

.navigation-list__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 11px;
  padding-right: 8px;

  width: 250px;
  color: #9197b3;
  font-size: 14px;
  line-height: normal;
  letter-spacing: -0.14px;
  border: 0;
  border-radius: 8px;
  background-color: inherit;

  transition: background-color 250ms ease-out, color 250ms ease-out;
}

.navigation-list__btn--active {
  color: #fff;
  background: #5932ea;

  fill: #fff;
  stroke: #fff;
}

.navigation-list__btn--flex-correction {
  justify-content: flex-start;
  gap: 14px;
}

.navigation-list__btn-container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.navigation-list__icon {
  fill: #9197b3;
  stroke: #9197b3;

  transition: fill 250ms ease-out, stroke 250ms ease-out;
}

.navigation-list__icon--active {
  fill: #fff;
  stroke: #fff;
}

.navigation-list__icon-chevron {
  stroke: #9197b3;

  transition: stroke 250ms ease-out;
}

.navigation-list__icon-chevron--active {
  stroke: #fff;
}

.navigation-list__btn:hover {
  color: #fff;
  background: #5932ea;
}

.navigation-list__btn:hover .navigation-list__icon,
.navigation-list__btn:hover .navigation-list__icon-chevron {
  fill: #fff;
  stroke: #fff;
}

/* -----------------------------user----------------------------- */
.user {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 586px;
}

.user__avatar {
  width: 42px;
  height: auto;
}

.user__name {
  color: #000;
  line-height: normal;
  letter-spacing: 0.14px;
}

.user__position {
  color: #757575;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.12px;
}
